*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* 16px in 10 px e göre yüzdesi 10/16=0.625 
  0.625*100=62.5%*/
  //1 rem i tanımladığı için base de kalabilir
  font-size: 62.5%;
}
/* 1 rem=10px */
body {
  box-sizing: border-box;
}
